/* ==============UNIVERSAL STYLES========= */

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: white;
}

* {
    text-decoration: none;
}

*:hover{
    -webkit-transition:all ease-in 0.3s;/*Chrome*/
    -moz-transition:all ease-in 0.3s;/*Firefox*/
    -o-transition:all ease-in 0.3s;/*Opera*/
    -ms-transition:all ease-in 0.3s;/*Microsoft*/
}

a {
    cursor: pointer;
}


/* =================NAV================= */

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    padding: 0px;
}

nav ul li a {
    color: #daddd8; 
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    letter-spacing: 0.25em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

nav ul #active {
    border-bottom: 1.5px solid #daddd8;
}

nav ul li {
    list-style-type: none;
    list-style: none;
    display: inline;
    padding: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

nav ul li:hover {
    border-bottom: 1.5px solid #daddd8;
}



/* ================= HOMEPAGE ================= */

section {
    height: 60vh;
    width: 80vw;
    padding: 10vh 10vw 10vh 10vw;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#homepage #splash {
    height: 60vh;
    width: 80vw;
    padding: 10vh 10vw 10vh 10vw;
    margin: 0px;
    background-image: url(../img/background4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#homepage #logo {
    width: 80vw;
    padding: 0px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}


section img {
    height: 100%;
    width: auto;
    border-radius: 5px;
/*    border: 0.1em solid #04142d;*/
}

.description {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 5% 2% 5%;
}

#homepage #grid {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 4%;
}

#homepage #grid a {
    width: 30%;
    aspect-ratio: 1/1;
}

#homepage #grid a img {
    width: 100%;
    height: 100%;
    border: 1.5px solid rgba(218, 221, 216, 0.2);
}


#homepage #grid a img:hover{
    border: 1.5px solid rgba(218, 221, 216,1);
}



/* ================= BUTTON ================= */

.button {
    display: block;
    border-radius: 5px;
    background-color: #04142d;
    width: 10vw;
    padding: 2% 5%;
    margin: 3% 0%;
    text-align: center;
    color: #daddd8; 
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    letter-spacing: 0.25em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;   
}

.button-dark {
    background-color: #04142d;
}

.button-light {
    background-color: #36587a;
    align-self: end;
}

.thisproject .button-dark, #contact .button {
    width: 40%;
}

.button-dark:hover {
    background-color: #daddd8;
    color: #04142d; 
}

.button-light:hover {
    background-color: #daddd8;
    color: #04142d; 
}

/* ================= SOCIAL ================= */


.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}


.social .social_link {
    width: 47%;
    display: flex;
    align-items: center;
    margin: 3% 0% 3% 0%;
    padding-bottom: 3px
}


.social .fa {
    font-size: 2em;
    width: 10%;
    text-decoration: none;
    color: #daddd8;
    aspect-ratio: 1/1;
    margin-right: 7%;
}

.social .social_link:hover .fa {
    color: #04142d;
}

.social .social_link:hover p {
    border-bottom: 1px solid #04142d;
}

/* ================= WORK ================= */

.thumbnail {
    aspect-ratio: 1/1;
    height: 40%;
    margin-bottom: 8%;
}

.thumbnail_right {
    align-self: flex-end;
}

hr {
    width: 90vw;
    border: 0.5px solid #04142d;
}

#portfolio img:hover {
    opacity: 75%;
}

#portfolio h4 {
    margin: 0;
}


/* ================= PROJECTS ================= */

.thisproject {
    margin: 10%;
    background-color: white;
}

.thisproject p {
    width: 70%;
}

.thisproject hr {
    width: 80vw;
}

.thisproject .small {
    width: 15%;
    margin: 2% 2% 0% 0%;
}

.thisproject .smallmedium {
    width: 30%;
    margin: 2% 2% 0% 0%;
}

.thisproject .medium {
    width: 46%;
    margin: 2% 2% 0% 0%;
/*    display: block;*/
}

.thisproject .mediumcaption {
    width: 45%;
    margin: 2% 2% 0% 0%;
/*    display: block;*/
}

.thisproject .mediumlarge {
    width: 57.5%;
    margin: 2% 0% 0% 0%;
}

.thisproject .large {
    width: 94.25%;
    margin: 2% 0% 0% 0%;
}

.thisproject video {
    width: 90%;
    margin: 2% 0% 0% 0%;
}
.thisproject iframe {
    border: none;
}


/* ============= CONTACT =============== */

#contact-form {
    display: flex;
    flex-direction: column;
/*    justify-content: space-around;*/
    gap: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.contact-inputs {
    width: 30vw;
    height: 10%;
    border: 1.5px solid #04142d;
    outline: none;
    font-family: 'Avenir', sans-serif;
    color: black;
    border-radius: 5px;
    padding: 3%;
    font-size: 1em;
}

#contact textarea {
    height: 60%;
    width: 56.5vw;
}

.contact-inputs:focus {
    border: 3px solid #04142d;
}


/* ================= TYPOGRAPHY ================= */

@font-face {
  font-family: Avenir;
  font-weight: normal;
  src: url('../fonts/Avenir.ttc') format('TTC');
}

h1 {
    color: #daddd8;
    text-align: center; 
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    line-height: 0.8em;
    font-size: 6em;
    letter-spacing: 6px;
    font-weight: 800;
    margin: 0px;
}

h2 {
    color: #36587a;
    text-align: center; 
    font-family: 'Avenir', sans-serif;
    font-size: 3em;
    font-weight: 800;
    text-transform: lowercase;
    letter-spacing: 0.25em;
    margin: 0px;
}

h3 {
    font-size: 2em;
    font-family: 'Avenier', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
}

h3.dark {
    color: #04142d;
}

h3.light {
    color: #daddd8;
    text-align: right;
}

h4 {
    color: #04142d;
    font-size: 2.5em;
    font-family: 'Avenier', sans-serif;
    font-weight: 800;
    margin: 0px;
}

h4.right {
    text-align: right;
}


article {
    color: white; 
    text-align: left;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100; 
    line-height: 16px;
    letter-spacing: 0.4px;
}


p.dark {
    color: #04142d; 
    text-align: left;
    font-family: Avenir;
    font-size: 1em;
}

p.dark_right {
    color: #04142d; 
    text-align: left;
    font-family: Avenir;
    font-size: 1em;
    text-align: right;
}

p a {
    text-decoration: underline;
    color: #04142D;
}

p a:hover {
    color: #36587a;
}


p.light {
    color: white; 
    text-align: right;
    font-family: Avenir;
    font-size: 1em;
}

.thisproject p#captionleft {
    font-style: italic;
    font-family: Avenir;
    font-size: 0.75em;
    margin: 0px;
}

.thisproject p#captionright {
    font-style: italic;
    font-family: Avenir;
    margin: 0px;
    font-size: 0.75em;
    position: relative;
    left: 48.5%;
    margin-top: -2.5%;
}








/* ============= FOOTER =============== */

footer {
    height: 20vh;
    width: 80vw;
    background-color: #04142D;
    padding: 10vh 10vw 10vh 10vw;
    margin: 0px;
    position: relative;
}

footer .social {
    position: absolute;
    top: 8vh;
    width: 50%;
    transform:translateX(-2%);
}

footer .social .fa {
    margin: 0;
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 5px; 
}

footer .social .fa:hover {
    background: #daddd8;
    color: #04142D;
}

footer h6 {
    color: #daddd8; 
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    letter-spacing: 0.25em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    bottom: 10vh;
    margin: 0;
}



footer nav {
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    justify-content: end;
}

footer nav ul {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer nav ul li {
    display: flex;
    padding: 0;
    width: auto;
    justify-content: end;
    margin: 0;
}

footer nav ul li a {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    width: auto;
}

footer nav ul li:hover {
    border: none;
    
    a:hover {
        color: white;
        text-shadow: 3px 3px #36587a;
    }
}